@import "./App.scss";
@import "./var.scss";


h1{
    color: white;
    text-align: center;
}
.gallery{
    display: flex;
    justify-content: center;
    max-width: 70%;
    padding-left: 15%;
    align-items: center;
}
.btn{
    margin-top: 60px;
}

.wordslist__index{
    color: white;
    text-align: center;
}
.counter{
    color: white;
    font-family: $base-fontMain;
    text-align: center;
}

