@import "./var.scss";

.wrapper{
    display: flex;
    justify-content: center;  
    align-content: center ;  
    min-height: 10vh;
    flex-direction: column;
    margin-left: 5vw;
}

.row{
    display: -ms-grid;
    display: flex;
    align-content: flex-end;
    width: 90vw;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    border: 1px solid $base-color2;
   

}

.title{
    font-family: $base-fontText;
    font-size: $small-text;
    align-self: center;
    color: $base-color;
    width: fit-content;
    margin: 15px 5px;
    border: 1px solid $border;
    color: white;
}

.title__table{
    text-align: center; 
    color: $base-color3; 
    font-family: $base-fontMain;
    font-size: $base-fontSize;
    margin-bottom: 20px;
  }


