

.card{
    background-color: #282c34;
    color: antiquewhite; 
    height: 40vh;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}
.body{
    display: flex;
   
}
.btn{
    margin: 10px;
    padding: 5px;
}

