@import "../../styles/var.scss";

.header{
    font-family: $base-fontMain;
    font-size: $base-fontSize;
    margin: 10px auto;
    background-color: $base-color;
    color: white;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    
}
.header__item:hover{
    text-decoration: underline;
    color: rgb(162, 38, 245);
}

.header__item{
    color: white; 
    text-decoration: none;
    margin: 10px 15px;
}


.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.header__logo{
   text-align: center; 
}
.logo{
    max-width: 35%;
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    
}
