@import "./App.scss";

.card__container{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $base-fontText;
    margin: 10px auto;
}
    

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    height: 60vh;
    width: 20vw;
    border-radius: 10px;
    border: $border;
    padding: 5px;
    
}
.english{
    color:$base-color; 
    font-size: $text-Size;
}
.russian{
    color:$base-color2; 
    font-size: $text-Size;
}
.russian:hover{
    cursor: pointer; 
}
.transcription{
color: rgb(128, 128, 128);
font-size: 18px;
}

.btn{
    font-family: $base-fontText;
    align-self: center;
    color: white;
    width: fit-content;
    margin: 20px 0;
    padding: 5px;
    color: $base-color2;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 2px 0 $base-color2;
  
}
.btn:hover{
    border: 1px solid $base-color2;
    background-color: $base-color;
    color:white;
    cursor: pointer; 
 }
 .btn:active{
    cursor: pointer; 
    box-shadow: 0 1px 0 white;
    transition: all 0.1s ease 0s;
}

